<%= simple_form_for(@repository) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.button :submit, :class => "btn-primary" %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Repository</th>
      <th>URL</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <% @repositories.each do |repo| %>
      <tr>
        <td><%= repo.name %></td>
        <td><%= repo.url %></td>
        <td><%= link_to("Delete", repo, :class => "btn btn-danger", method: :delete, confirm: 'Are you sure?') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
