<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <div class="form-actions">
  <%= f.input :name %>
  <%= f.input :description, input_html: { cols: 60, rows: 3 } %>

  <%= f.input :start,
    as: :string,
    wrapper_html: { :class => 'picker input-append', id: 'task_start'},
    input_html: { :'data-format' => "dd/MM/yyyy HH:mm:ss PP", placeholder: get_current_time },
    :wrapper => :datepicker %>

  <%= f.input :end,
    as: :string,
    wrapper_html: { :class => 'picker input-append', id: 'task_end'},
    input_html: { :'data-format' => "dd/MM/yyyy HH:mm:ss PP", placeholder: get_current_time },
    :wrapper => :datepicker %>


  <%= f.button :submit %>
<% end %>
<p>* Indicates required field</p>
