<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <%= f.input :name %>
  <%= f.input :description, input_html: { cols: 60, rows: 3 } %>

  <%= f.input :start,
    as: :string,
    wrapper_html: {id: 'task_start'},
    input_html: { :'data-format' => "dd/MM/yyyy HH:mm:ss PP", placeholder: get_current_time },
    :wrapper => :datepicker %>

  <%= f.input :end,
    as: :string,
    wrapper_html: {id: 'task_end'},
    input_html: { :'data-format' => "dd/MM/yyyy HH:mm:ss PP", placeholder: get_current_time },
    :wrapper => :datepicker %>

  <h3>Commits</h3>
  <div id="commits">
    <%= f.simple_fields_for :commits do |commit| %>
      <%= render 'commit_fields', f: commit %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Commit', f, :commits, :class => "btn btn-small" %>
    </div>
  </div>

  <div class="well">
    <%= f.button :submit, :class => "btn-primary" %>
    <small>* Indicates required field</small>
  </div>
<% end %>
