<div class="nav_active" id="all_tasks">
  <div class="pagination">
    <ul>
      <% if @offset == 0 %>
        <li class="disabled"><a href="#">Prev</a></li>
      <% else %>
        <li><%= link_to('Prev', params.merge( {:p => @prev_offset} )) %></li>
      <% end %>
      <% last = true %>
      <% @page_count.times do |i| %>
        <% if (@offset > (i-1)*10) && (@offset <= i*10) %>
          <li class="active"><%= link_to(i+1, params.merge( {:p => (i*10)} )) %></li>
          <% last = true %>
        <% else %>
          <li><%= link_to(i+1, params.merge( {:p => (i*10)} )) %></li>
          <% last = false %>
        <% end %>
      <% end %>
      <% if last %>
        <li class=disabled><a href="#">Next</a></li>
      <% else %>
        <li><%= link_to('Next', params.merge( {:p => @next_offset} )) %></li>
      <% end %>
    </ul>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Task</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <% if task.end %>
        <tr>
      <% else %>
        <tr class="warning">
      <% end %>
      <td>
        <div class="btn-group">
          <%= link_to( '<i class="icon-edit icon-white"></i> '.html_safe + task.name, edit_task_path(task), class: "btn btn-primary") %>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to('<i class="icon-remove"></i> '.html_safe + "Delete", task, method: :delete, data: { confirm: 'Are you sure?' } ) %></li>
          </ul>
        </div>
      </td>
      <td><%= task.start.strftime("%e %b %l:%M %p") %></td>
      <% if task.end %>
        <td><%= task.end.strftime("%e %b %l:%M %p") %></td>
      <% else %>
        <td><%= link_to( "Add Ending", edit_task_path(task), class: "btn btn-small btn-warning") %></td>
      <% end %>
      <td>
        <% if task.end %>
          <%= distance_of_time_in_words(task.end - task.start) %>
        <% else %>
           - 
        <% end %>
      </td>
    <% end %>
    </tbody>
  </table>
</div>
