<div class="nav_active" id="all_tasks">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Task</th>
        <th>Start</th>
        <th>End</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
      <% if task.end %>
        <tr>
      <% else %>
        <tr class="warning">
      <% end %>
      <td>
        <div class="btn-group">
          <%= link_to( '<i class="icon-edit icon-white"></i> '.html_safe + task.name, edit_task_path(task), class: "btn btn-primary") %>
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to('<i class="icon-remove"></i> '.html_safe + "Delete", task, method: :delete, data: { confirm: 'Are you sure?' } ) %></li>
          </ul>
        </div>
      </td>
      <td><%= task.start.strftime("%e %b %l:%M %p") %></td>
      <% if task.end %>
        <td><%= task.end.strftime("%e %b %l:%M %p") %></td>
      <% else %>
        <td><%= link_to( "Add Ending", edit_task_path(task), class: "btn btn-small btn-warning") %></td>
      <% end %>
      <td><%= distance_of_time_in_words(task.end - task.start) %></td>
    <% end %>
    </tbody>
  </table>
</div>
