<div class="nav_active" id="add_task">
  <%= simple_form_for(@task, :html => {:class => 'form-horizontal' }) do |form| %>
    <%= form.error_notification %>
    <%= form.input :name %>
    <%= form.input :description, input_html: { cols: 60, rows: 3 } %>

    <%= form.input :start,
      as: :string,
      wrapper_html: { :class => 'picker input-append', id: 'task_start'},
      input_html: { :'data-format' => "dd/MM/yyyy HH:mm:ss PP", placeholder: get_current_time },
      :wrapper => :datepicker %>

    <%= form.input :end,
      as: :string,
      wrapper_html: { :class => 'picker input-append', id: 'task_start'},
      input_html: { :'data-format' => "dd/MM/yyyy HH:mm:ss PP", placeholder: get_current_time },
      :wrapper => :datepicker %>


    <%= form.button :submit %>
  <% end %>
  <p>* Indicates required field</p>
</div>
