<ul>
  <li>Name: <%= @task.name %></li>
  <li>Description: <%= @task.description %></li>
  <li>Start: <%= @task.start %></li>
  <li>End: <%= @task.end %></li>
  <% @task.commits.each do |commit| %>
    <li> SHA1: <%=commit.sha1%></li>
    <li> Repo: <%=commit.repository.name%></li>
    <% url = "#{commit.repository.url}/commit/#{commit.sha1}" %>
    <li><%= link_to "Commit URL", url %></li>
  <% end %>
</ul>
<%= button_to('Delete', @task, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } ) %>
