<div class="nav_active" id="all_pomodoros">
  <div class ="well">
    <%= render 'pomodoro_form' %> 
  </div>
  <ul>
    <%- @pomodoros.each do |pomodoro| -%>
      <%- if pomodoro.period == "productive" -%>
        <li class="productive-entry well">
      <%- elsif pomodoro.period == "break" -%>
        <li class="break-entry well">
      <%- elsif pomodoro.period == "long_break" -%>
        <li class="long-break-entry well">
      <%- else -%>
        <li class="well">
      <%- end -%>  
        <%- if pomodoro.running? -%>
          <%- indicators = PomodoroIndicator.new(pomodoro) -%>
          <div class="progress progress-info progress-striped <%= indicators.animated %>">
            <div class="bar" style="width: <%= pomodoro.percent_complete %>%;">
              <span class="remaining"><%= pomodoro.duration_string %></span>
            </div>
          </div>
          <%= simple_form_for(pomodoro) do |f| %>
            <%= f.submit indicators.button_label, class: "btn btn-small btn-inverse" %>
          <%- end -%>
        <%- end -%>
        <span class="badge started-at"><%= "Started: #{pomodoro.intervals.first.start.strftime("%e %b %l:%M %p")}" %></span>
        <%= link_to("Delete", pomodoro, :class => "btn btn-small btn-danger pull-right", method: :delete) %>
      </li>
    <%- end -%>
  </ul>
</div>
