<div class="nav_active" id="all_pomodoros">
  <div class ="well">
    <%= render 'pomodoro_form' %> 
  </div>
  <%= paginate @pomodoros %>
  <%- date = Time.new -%>
  <ul>
    <%- @pomodoros.each do |pomodoro| -%>
      <%- if (date - pomodoro.created_at) / 1.hour > 8 %>
        <hr>
      <%- end -%>
      <%- date = pomodoro.created_at -%>
      <li class="<%= pomodoro.entry_style %> well">
        <%- if pomodoro.running? -%>
          <div class="progress <%= pomodoro.progress_bar_style %> progress-striped <%= pomodoro.animated %>">
            <div class="bar" style="width: <%= pomodoro.percent_complete %>%;">
              <span class="remaining"><%= pomodoro.duration_string %></span>
            </div>
          </div>
          <%= simple_form_for(pomodoro) do |f| %>
            <%= f.submit pomodoro.pause_btn_label, class: "btn btn-small btn-inverse pause-btn" %>
          <%- end -%>
        <%- end -%>
        <span class="label"><%= "Started: #{pomodoro.start_time}" %></span>
        <%- unless pomodoro.running? -%>
          <span class="label label-inverse"><%= "Completed: #{pomodoro.end_time}" %></span>
        <%- end -%>
        <%= link_to("Delete", pomodoro, :class => "btn btn-small btn-danger pull-right", method: :delete) %>
      </li>
    <%- end -%>
  </ul>
</div>
