<div class="nav_active" id="all_pomodoros">
  <div class ="well">
    <%= simple_form_for(@pomodoro) do |f| %>
      <%= f.hidden_field :duration, value: 1500 %>
      <%- if current_user.timer_running? -%>
        <%= f.submit "Start Pomodoro", class: "btn btn-large btn-info", disabled: "disabled" %>
      <%- else -%>
        <%= f.submit "Start Pomodoro", class: "btn btn-large btn-info" %>
      <%- end -%>
    <% end %>
    <%= simple_form_for(@pomodoro) do |f| %>
      <%= f.hidden_field :duration, value: 300 %>
      <%- if current_user.timer_running? -%>
        <%= f.submit "Start Break", class: "btn btn-large btn-success", disabled: "disabled" %>
      <%- else -%>
        <%= f.submit "Start Break", class: "btn btn-large btn-success" %>
      <%- end -%>
    <% end %>
    <%= simple_form_for(@pomodoro) do |f| %>
      <%= f.hidden_field :duration, value: 900 %>
      <%- if current_user.timer_running? -%>
        <%= f.submit "Start Long Break", class: "btn btn-large btn-warning", disabled: "disabled" %>
      <%- else -%>
        <%= f.submit "Start Long Break", class: "btn btn-large btn-warning" %>
      <%- end -%>
    <% end %>
  </div>
  <ul>
    <%- @pomodoros.each do |pomodoro| -%>
      <%- if pomodoro.duration == 1500 -%>
        <li class="pomodoro-entry well">
      <%- else -%>
        <li class="well">
      <%- end -%>  
        <%- if pomodoro.running? -%>
          <%- indicators = PomodoroIndicator.new(pomodoro) -%>
          <div class="progress progress-info progress-striped <%= indicators.animated %>">
            <div class="bar" style="width: <%= pomodoro.percent_complete %>%;">
              <span class="remaining"><%= pomodoro.duration_string %></span>
            </div>
          </div>
          <%= simple_form_for(pomodoro) do |f| %>
            <%= f.submit indicators.button_label, class: "btn btn-small btn-inverse" %>
          <%- end -%>
        <%- end -%>
        <span class="badge started-at"><%= "Started: #{pomodoro.intervals.first.start.strftime("%e %b %l:%M %p")}" %></span>
        <%= link_to("Delete", pomodoro, :class => "btn btn-small btn-danger pull-right", method: :delete) %>
      </li>
    <%- end -%>
  </ul>
</div>
