<div class="nav_active" id="all_pomodoros">
  <div class ="well">
    <%= render 'pomodoro_form' %> 
  </div>
  <ul>
    <%- @pomodoros.each do |pomodoro| -%>
      <%- indicators = PomodoroIndicator.new(pomodoro) -%>
      <li class="<%= indicators.well_class %> well">
        <%- if pomodoro.running? -%>
          <div class="progress <%= indicators.bar_class %> progress-striped <%= indicators.animated %>">
            <div class="bar" style="width: <%= pomodoro.percent_complete %>%;">
              <span class="remaining"><%= pomodoro.duration_string %></span>
            </div>
          </div>
          <%= simple_form_for(pomodoro) do |f| %>
            <%= f.submit indicators.button_label, class: "btn btn-small btn-inverse" %>
          <%- end -%>
        <%- end -%>
        <span class="badge started-at"><%= "Started: #{pomodoro.intervals.first.start.strftime("%e %b %l:%M %p")}" %></span>
        <%= link_to("Delete", pomodoro, :class => "btn btn-small btn-danger pull-right", method: :delete) %>
      </li>
    <%- end -%>
  </ul>
</div>

<script>
  // $(function(){
  //   Timevault = Ember.Application.create();
  // });
</script>
