<div class="nav_active" id="all_pomodoros">
  <%= simple_form_for(@pomodoro) do |f| %>
    <%= f.hidden_field :duration, value: 1500 %>
    <%= f.submit "Start Pomodoro", class: "btn btn-primary" %>
  <% end %>
  <%= simple_form_for(@pomodoro) do |f| %>
    <%= f.hidden_field :duration, value: 300 %>
    <%= f.submit "Start Break", class: "btn btn-success" %>
  <% end %>
  <ul>
    <% @pomodoros.each do |pomodoro| %>
    <li class="well"><%= "Duration: #{pomodoro.duration}. Remaining: #{pomodoro.duration_string}" %>
      <%- if pomodoro.running? -%>
        <%= simple_form_for(pomodoro) do |f| %>
        <% btnval = pomodoro.paused? ? "Resume" : "Pause" %>
          <%= f.submit btnval, class: "btn btn-small btn-warning" %>
        <%- end -%>
      <%- end -%>
      <%= link_to("Delete", pomodoro, :class => "btn btn-small btn-danger", method: :delete) %>
    </li>
    <% end %>
  </ul>
</div>
