<p id="notice"><%= notice %></p>

<p>
  <b>Start time:</b>
  <%= @pomodoro.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @pomodoro.end_time %>
</p>

<p>
  <b>Paused:</b>
  <%= @pomodoro.paused %>
</p>


<%= link_to 'Edit', edit_pomodoro_path(@pomodoro) %> |
<%= link_to 'Back', pomodoros_path %>
