<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<%= link_to "TimeVault", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li id="add_task">
    <%= link_to "New Task", new_task_path %>
    </li>
    <li id="all_tasks">
    <%= link_to "Tasks", tasks_path %>
    </li>
  <% else %>
    <li id="login">
    <%= link_to('Login', new_user_session_path)  %>
    </li>
    <li id="sign_up">
    <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
  <% end %>
</ul>
<div class="nav-collapse collapse">
  <ul class="nav">
    <% if user_signed_in? %>
      <li id="all_repositories">
      <%= link_to "Manage Repositories", repositories_path %>
      </li>
      <li id="all_pomodoros">
      <%= link_to "Pomodoros", pomodoros_path %>
      </li>
      <li id="edit_account">
      <%= link_to('Edit account', edit_user_registration_path) %>
      </li>
      <%- if current_user.admin? -%>
        <li><%= link_to('Admin', rails_admin_path) %></li>
      <%- end -%>
      <li id="logout">
      <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
      </li>
    <% end %>
    <li id="about">
    <%= link_to('About', about_path) %>
    </li>
  </ul>
</div>
